################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
*.manifest
*.testlog
/.vs/use-case-2-chat-gpt/FileContentIndex
/StripeIntegration/obj
/.vs/use-case-2-chat-gpt/v17
/StripeIntegration/.vs
/.vs
/StripeIntegration/bin/Debug/net7.0
